
.ipynb_checkpoints/na_zajeciach-checkpoint.ipynb
.ipynb_checkpoints/moj_pierwszy_raz-checkpoint.ipynb
moj_pierwszy_raz.ipynb
na_zajeciach.ipynb
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.ipynb_checkpoints/test_stresu-checkpoint.csv
.ipynb_checkpoints/znowu_to-checkpoint.ipynb
.ipynb_checkpoints/znowu_zenada-checkpoint.ipynb
drugs/.ipynb_checkpoints/README-checkpoint.md
drugs/.ipynb_checkpoints/drugs-checkpoint.csv
drugs/drugs.csv
drugs/README.md
test_stresu.csv
zad2/.ipynb_checkpoints/zad2-checkpoint.md
zajecia.ipynb
znowu_to.ipynb
znowu_zenada.ipynb
